
body {
  background-image: url("../../srcIMGs/BG.png");
  background-color: #cccccc;
}


.Header {
  display: flex;
  flex-direction: column;
  
}

.Header__Title {
  margin: 20px;
  align-self: center;
  width: 500px;
  border-bottom: 1px solid white;  
  font-size: 4em;
  font-family: 'Merienda', cursive;
  color: white;
}



.ThipiLogo {
  width: 350px;
}